<a href="https://colab.research.google.com/github/Isabelydjoliz/phyton/blob/main/exerciciosphyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Isabely D'joliz e Gulherme Augusto
1°C - ETEC MCM

In [ ]:
# Exercício 1 inserir os seus dados acima em variáveis
#Exemplo
nome = "Isabely D'joliz"
nome2 = "Guilherme Augusto"
Turma = "manha"
curso = "TI"
periodo = "manha"
#continue.....

In [ ]:
# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
nome[8:]

"D'joliz"

In [ ]:
nome2[10:]

'Augusto'

In [ ]:
# Exercício 3 -  imprima seu nome de trás pra frente
nome [::-1]

"ziloj'D ylebasI"

In [ ]:
nome2 [::-1]

'otsuguA emrehliuG'

In [ ]:
# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
frase.split(",")

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]

for n in num:
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
objetos = ["caderno", "lápis", "borracha", "estojo", "caneta"]
for n in objetos:
  print(n)

caderno
lápis
borracha
estojo
caneta

In [ ]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
'eu sou do primeiro c'
'o primeiro c é legal'
'eu não faço RH'
'eu sou do primeiro C' + ' ,o primeiro C é legal'

'eu sou do primeiro c ,o primeiro c é legal'

In [ ]:
'eu sou do primeiro c ,o primeiro c é legal' + ' ,eu não faço RH'

'eu sou do primeiro c ,o primeiro c é legal ,eu não faço RH'

In [ ]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
contador = tupla.count (4)
print(contador)

3

In [ ]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
dicionariovazio = {}
print(dicionariovazio)

{}

In [ ]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
nomeseidades = {"livia": 21, "adriana": 12, "marcos": 34}
print(nomeseidades)

{'livia': 21, 'adriana': 12, 'marcos': 34}

In [ ]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
nomeseidades["Jack"] = 40
print(nomeseidades)

{'livia': 21, 'adriana': 12, 'marcos': 34, 'Jack': 40}

In [ ]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
estojos = {'estojo1':12,'estojo2':23,'estojo3':[12, 3]}
print(estojos)

{'estojo1': 12, 'estojo2': 23, 'estojo3': [12, 3]}

In [ ]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
elementos = ['elemento um', (2,3),{'quatro':4, 'cinco':5}, float(input('Digite o numero 6: '))]
print(elementos)

Digite o numero 6: 6
['elemento um', (2, 3), {'quatro': 4, 'cinco': 5}, 6.0]

In [ ]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[1:18]

'ientista de Dados'